.form-home {
  position: relative;
  display: flex;
  background: url('../../img/bg_pattern.jpg') top center repeat-y;
  z-index: 0;
}

	.form-home .wrapper {
		width: 980px;
    margin-bottom: 50px;
	}

    .form-home .form-home-wrapper {
      position: relative;
      min-height: 520px;
      margin: 50px 0 0;
      padding: 10px 20px 20px 40px;
      padding-left: 36%;
      z-index: 10;
    }
      .form-home .form-home-wrapper.fullwidth {
        padding-left: 40px;
        min-height: 0px;
        transition: padding 0.6s ease-out, min-height 1.3s ease-out;
        transition-delay: 0.6s;
      }

      .form-home .form-home-header-color {
        position: absolute;
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        z-index: -2;
      }
        .form-home .form-home-header-color.fullwidth {
          height: 0px;
          transition: height .5s ease-out;
        }

      .form-home .form-home-body-color {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #f0f4f5;
        border-radius: 5px;
        z-index: -3;
      }
        .form-home .form-home-body-color.fullwidth {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          transition: all .5s ease-out;
        }

      .form-home .form-home-bg {
        position: absolute;
        visibility: visible;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(./bg_form_home.png) -40px 0 no-repeat;
        background-size: auto 100%;
        opacity: 1;
        z-index: -1;
      }
        .form-home .form-home-bg.hide {
          visibility: hidden;
          opacity: 0;
          transition: all 0.4s ease-out;
        }






      .form-home .form-home-data {
        display: block;
        visibility: visible;
        opacity: 1;
      }
        .form-home .form-home-data-wrapper.hide {
          display: none;
          visibility: hidden;
          opacity: 0;
          transition: all 0.6s ease-out;
        }


        .form-home .form-home-data .form-home-data-inputs {
          display: flex;
          flex-wrap: wrap;
          margin-top: 40px;
        }

          .form-home .form-home-data .form-group {
            width: 33%;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          }
            .form-home .form-home-data .form-group .form-label {
              display: flex;
              align-items: flex-end;
              width: 60%;
              height: 40px;
              font-size: 20px;
              font-family: Intro-Bold;
              color: #e70000;
            }
            .form-home .form-home-data .form-group .form-control {
              outline: none;
              border: 1px solid #e5e5e5;
              border-radius: 5px;
              height: 40px;
              line-height: 40px;
              font-size: 24px;
              font-family: Intro-Light;
              padding-left: 10px;
              margin-top: 5px;
              margin-bottom: 8px;
              margin-right: 20px;
            }


            .form-home .form-home-data .form-group-phone {
              width: 38%;
            }

            .form-home .form-home-data .form-group.errors {

            }
              .form-home .form-home-data .form-group.errors .form-control {
                border-color: #e70000;
              }

            .form-home .form-home-data .form-error {
              display: none;
              margin-top: 2px;
              color: #e70000;
              font-size: 14px;
            } 
              .form-home .form-home-data .form-group.errors .form-error.visible {
                display: block;
              }


            .form-home .form-home-data .form-group .form-error-empty-field {
              display: none;
              margin-top: 2px;
              color: #e70000;
              font-size: 14px;
            }
              .form-home .form-home-data .form-group.errors .form-error-empty-field.visible {
                display: block;
              }




            /*.form-home .form-home-data .form-group .form-error-is-empty {
              display: none;
              margin-top: 8px;
              color: #e70000;
              font-size: 14px;
            }

              .form-home .form-home-data .form-group.errors .form-error-is-empty {
                display: block;
              }*/


        .form-home .form-home-data .form-home-data-btn-group {
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
        }
          .form-home .form-home-data .form-home-data-btn-group .form-home-data-point {
            width: 13px;
            height: 13px;
            margin-top: 15px;
            background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve' fill='%23e70000'%3E %3Cpath class='st0 svg_circle' d='M20,10c0,5.5-4.5,10-10,10C4.5,20,0,15.5,0,10C0,4.5,4.5,0,10,0c4.3,0,7.9,2.7,9.3,6.4C19.8,7.5,20,8.7,20,10z'/%3E %3C/svg%3E") no-repeat;
          }
          .form-home .form-home-data .form-home-data-btn-group .form-home-data-line {
            width: 45%;
            height: 1px;
            margin-top: 19px;
            background-color: #cbcbcb;
          }
            .form-home .form-home-data .form-home-data-btn-group .form-home-data-line.form-home-data-line--last {
              width: 20%;
            }

          .form-home .form-home-data .form-home-data-btn-group .btn-submit {
            background: #00bdce;
            border: none;
            color: #fff;
            height: 40px;
            line-height: 40px;
            /*margin-top: 20px;*/
            padding: 0 30px;
            font-size: 18px;
            font-family: Intro-Light;
            border-radius: 4px;
            outline: none;
          }


  .form-home .form-home-loader {
    display: flex;
    width: 100%;
    height: 100%;
    /*margin-top: 150px;*/
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
    .form-home .form-home-loader.hide {
      display: none;
    }




























