.advantages {
  margin: 0;
  padding: 60px 0 50px; 
  border-top: 1px solid #e5e5e5;
  /*background: url(bg_advantages.jpg);*/
  background: url(bg_advantages.png) 60% bottom no-repeat;
}
  .advantages .wrapper {
    display: flex;
    align-items: flex-start;
  }



  .advantages .advantages-content {
    flex-basis: 100%;
    padding-top: 20px;
    padding-right: 40px;

  }


  .advantages .advantages-content .advantages-content-title {
    font-size: 30px;
    font-family: Intro-Regular;
    font-weight: 400;
    color: #626e71;
  }

  .advantages .advantages-content .advantages-content-list {
    display: flex;
    flex-direction: column;
    /*position: relative;*/
    /*margin-top: 15px;*/
    /*padding: 10px 0 10px 100px;*/
    /*border: 1px solid #00bdce;*/
    /*border-radius: 5px;*/
  }
    .advantages .advantages-content .advantages-content-list .list-item {
      display: flex;
      align-items: flex-start;
      margin-top: 40px;
      /*position: absolute;*/
      /*width: 40px;
      height: 40px;
      top: 20px;
      left: 40px;*/
    }
      .advantages .advantages-content .advantages-content-list .list-item .list-item-icon {
        width: 40px;
        height: 40px;
        margin-top: -12px;
      }
      .advantages .advantages-content .advantages-content-list .list-item .list-item-point {
        width: 5px;
        height: 5px;
        margin: 5px 10px 0 25px;
        background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve' fill='%23e70000'%3E %3Cpath class='st0 svg_circle' d='M20,10c0,5.5-4.5,10-10,10C4.5,20,0,15.5,0,10C0,4.5,4.5,0,10,0c4.3,0,7.9,2.7,9.3,6.4C19.8,7.5,20,8.7,20,10z'/%3E %3C/svg%3E");
      }
      .advantages .advantages-content .advantages-content-list .list-item .list-item-text {

      }
        .advantages .advantages-content .advantages-content-list .list-item .list-item-text .list-item-text-title {
          font-size: 20px;
          font-family: Intro-Regular;
          font-weight: 400;
          color: #626e71;
          /*padding-left: 20px;*/
        }
        .advantages .advantages-content .advantages-content-list .list-item .list-item-text .list-item-text-paragraph {
          width: 240px;
          margin-top: 4px;
          font-size: 15px;
          color: #626e71;
        }


      .advantages .advantages-content .advantages-content-list .list-item.list-item--1 .list-item-icon {
        background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 40 40' style='enable-background:new 0 0 40 40;' xml:space='preserve' fill='%23e70000'%3E %3Cpath id='XMLID_9_' class='st0' d='M34.3,3.6c1.3,0,2.3,1.1,2.3,2.3c0,1.3-1,2.3-2.3,2.3C33,8.3,32,7.2,32,5.9 C32,4.6,33,3.6,34.3,3.6z M34.3,31.8c1.3,0,2.3,1.1,2.3,2.3c0,1.3-1,2.3-2.3,2.3c-1.3,0-2.3-1.1-2.3-2.3C32,32.9,33,31.8,34.3,31.8z M34.3,17.7c1.3,0,2.3,1.1,2.3,2.3c0,1.3-1,2.3-2.3,2.3C33,22.4,32,21.3,32,20C32,18.7,33,17.7,34.3,17.7z M5.4,5.3 C5.4,2.4,7.8,0,10.7,0c2.9,0,5.2,2.4,5.2,5.3c0,2.9-2.3,5.3-5.2,5.3C7.8,10.5,5.4,8.2,5.4,5.3z M13.7,5.3c0-1.7-1.3-3-3-3 c-1.7,0-3,1.4-3,3c0,1.7,1.4,3,3,3C12.3,8.3,13.7,6.9,13.7,5.3z M28.5,33.1c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1h-3.4 c-0.5,0-0.9-0.3-1-0.7c-0.1-0.1-0.1-0.3-0.1-0.5V21.2h-2.1c-0.6,0-1.1-0.5-1.1-1.1c0-0.6,0.5-1.1,1.1-1.1h2.1V6 c0-0.2,0.1-0.5,0.2-0.6c0.2-0.3,0.5-0.5,0.9-0.5h3.4c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1h-2.3v11.9h2.3 c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1h-2.3v11.9H28.5z M7.4,28.3h1l0,11.7H6.2v-9.7C4.3,29.8,2.9,28,2.9,26v-8.6 c0-2.5,2-4.5,4.5-4.5H14c2.5,0,4.5,2,4.5,4.5V26c0,2.1-1.4,3.8-3.3,4.3V40h-2.2l0-11.7h1c1.3,0,2.3-1,2.3-2.3v-8.6 c0-1.3-1-2.3-2.3-2.3H7.4c-1.3,0-2.3,1-2.3,2.3V26C5.1,27.2,6.1,28.3,7.4,28.3z'/%3E %3C/svg%3E");
      }
      .advantages .advantages-content .advantages-content-list .list-item.list-item--2 .list-item-icon {
        background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 40 40' style='enable-background:new 0 0 40 40;' xml:space='preserve' fill='%23e70000'%3E %3Cpath id='XMLID_2_' class='st0' d='M38.8,23.8c-0.7,0-1.2-0.6-1.2-1.2c0-0.7,0.6-1.2,1.2-1.2c0.7,0,1.2,0.6,1.2,1.2 C40,23.3,39.5,23.8,38.8,23.8z M35.3,26.2H40v1.9h-6.6v-1.8l-2.2,0c-0.3,0.8-1,2.2-2,2.8c-0.3,0.2-0.7,0.4-1.1,0.4c0,0-0.1,0-0.1,0 c0,0-0.1,0-0.1,0c-0.3,0-0.6-0.1-0.9-0.2c-0.4-0.2-0.7-0.4-1.1-0.8c0,0,0,0,0,0c0,0,0-0.1-0.1-0.1l0,0l-0.7-1.1l-1.1-1.7l0,0 l-0.1-0.2l-2.1-3.3c-0.3-0.4-0.2-1,0.3-1.3c0.4-0.3,1-0.2,1.3,0.3l2.3,3.6l1.6,2.5c0.3,0.3,0.5,0.4,0.6,0.4c0,0,0,0,0.1,0 c0.1,0,0.1-0.1,0.2-0.1c0.3-0.2,0.6-0.7,0.9-1.2c0,0,0,0,0,0l-6-11.5c-0.8-0.1-1.7-0.1-2.3-0.2l-3.5,3.6c-0.9,0.7-1.8,1-2.7,1 c-0.3,0-0.5,0-0.8-0.1C12,18.7,11.1,17,11,16.8l-0.3-0.5l5.2-6.8c1.9-2.3,3.8-2.4,4-2.4l7.5,0v0l0,0l6,2.6V7.7H40v1.9h-4.7V26.2z M33.4,11.8l-6.5-2.8l-7,0c0,0-1.2,0.1-2.5,1.7L13,16.4c0.3,0.4,0.7,0.8,1.2,0.9c0.5,0.1,1.1-0.1,1.8-0.6l4-4.1l0.5,0 c0,0,3.3,0.3,3.8,0.3l0,0l6,11.5l3.1,0V11.8z M1.2,19.7c0.7,0,1.2,0.6,1.2,1.2c0,0.7-0.6,1.2-1.2,1.2c-0.7,0-1.2-0.6-1.2-1.2 C0,20.3,0.6,19.7,1.2,19.7z M12.8,10.3H6.6v11.8h2.1l4.2,7.3c0.5,0.8,1.1,1,1.6,1l1.1,1.8c-0.3,0.1-0.6,0.1-1,0.1 c-1.1,0-2.4-0.4-3.2-1.9l-3.7-6.3h-1v2.5H0v-1.9h4.7V8.1H0.1V6.1h6.6v2.3h7.7L12.8,10.3z M18.6,23.4c0.5-0.3,1-0.1,1.3,0.4l1.9,3.4 l0.7,1.3c0.4,0.5,0.9,0.5,1.4,0.2l0.7,1.1l0.4,0.6c0,0-0.1,0-0.1,0.1c-0.3,0.1-0.9,0.4-1.6,0.4c-0.6,0-1.3-0.2-2-0.8 c-0.1-0.1-0.2-0.2-0.2-0.3L21,29.5l-0.4-0.6l-0.5-0.8l0,0l0-0.1l-1.9-3.3C18,24.3,18.1,23.7,18.6,23.4z M14.8,27.5 c-0.3-0.5-0.1-1.1,0.4-1.3c0.5-0.3,1-0.1,1.3,0.4l1.6,2.8l0,0c0.5,0.7,1,0.4,1.1,0.4l0.1,0.2l0.8,1.5c-0.3,0.2-0.7,0.3-1.2,0.3 c-0.8,0-1.7-0.3-2.4-1.4l0-0.1l-0.1-0.1l0,0l0-0.1L14.8,27.5z'/%3E %3C/svg%3E");
      }
      .advantages .advantages-content .advantages-content-list .list-item.list-item--3 .list-item-icon {
        background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 40 40' style='enable-background:new 0 0 40 40;' xml:space='preserve' fill='%23e70000'%3E %3Cpath id='XMLID_9_' class='st0' d='M35.7,15.4c2.4,0,4.3,1.9,4.3,4.3V32c0,2.4-1.9,4.3-4.3,4.3H11.9c-2.4,0-4.3-1.9-4.3-4.3V19.7 c0-2.4,1.9-4.3,4.3-4.3H35.7z M9.8,19.7V32c0,1.1,0.9,2.1,2.1,2.1h23.8c1.1,0,2.1-0.9,2.1-2.1V19.7c0-1.1-0.9-2.1-2.1-2.1H11.9 C10.7,17.6,9.8,18.5,9.8,19.7z M13.5,24.9h16.3c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1H13.5c-0.6,0-1.1-0.5-1.1-1.1 C12.4,25.4,12.9,24.9,13.5,24.9z M13.5,29.2h9c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1h-9c-0.6,0-1.1-0.5-1.1-1.1 C12.4,29.7,12.9,29.2,13.5,29.2z M4.3,22.4h1v2.2h-1C2,24.6,0,22.7,0,20.3V8C0,5.6,2,3.7,4.3,3.7h23.8c2.4,0,4.3,1.9,4.3,4.3v5.1 h-2.2v-2.5H2.3v9.7C2.3,21.5,3.2,22.4,4.3,22.4z M30.2,8.4V8c0-1.1-0.9-2.1-2.1-2.1H4.3C3.2,5.9,2.3,6.9,2.3,8v0.4H30.2z'/%3E %3C/svg%3E");
        /*height: 36px;*/
      }


    .advantages .advantages-banner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 306px;
      width: 306px;
      height: 400px;
      background: url(img_banner.png) 0 0 no-repeat;
      text-decoration: none;
    }
      .advantages .advantages-banner .advantages-banner-text {
        width: 280px;
        padding: 20px 0 0 30px;
      }
        .advantages .advantages-banner .advantages-banner-text .advantages-banner-title {
          font-size: 20px;
          font-family: Intro-Bold;
          color: #e60000;
        }
        .advantages .advantages-banner .advantages-banner-text .advantages-banner-text-paragraph {
          font-size: 18px;
          color: #626e71;
        }
        

      .advantages .advantages-banner .advantages-banner-btn {
        width: 200px;
        height: 41px;
        margin: 0 0 23px 30px;
        font-size: 16px;
        line-height: 41px;
        text-align: center;
        color: #ffffff;
        background-color: #00bdce;
        border-radius: 2px;
      }
      /*.advantages .advantages-banner {
      
      }*/





