.marketing {
  margin: 0;
  padding: 30px 0 50px; 
  border-top: 1px solid #e5e5e5;
  background: url(bg_marketing.jpg);
}
  .marketing .wrapper {
    display: flex;
    align-items: flex-start;
  }



  .marketing .marketing-content {
    flex-basis: 100%;
    padding-top: 20px;
    padding-right: 40px;

  }


  .marketing .marketing-content .marketing-content-title {
    font-size: 18px;
    font-family: Intro-Regular;
    color: #626e71;
  }

  .marketing .marketing-content .marketing-content-short-text {
    position: relative;
    margin-top: 15px;
    padding: 10px 0 10px 100px;
    border: 1px solid #00bdce;
    border-radius: 5px;
  }
    .marketing .marketing-content .marketing-content-short-text .marketing-content-short-text-icon {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 20px;
      left: 40px;
      background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 40 40' style='enable-background:new 0 0 40 40;' xml:space='preserve' fill='%2300bdce'%3E %3Cpath id='XMLID_2_' class='st0' d='M2,9.8c0.9-0.6,3.2-2,4.4-2c0.1,0,0.2,0,0.2,0c0.7,0.1,1.5,0.5,2,1.5l2.3,5.4 c0.4,0.6,0.6,2-0.4,3.2l-1.7,2c0.6,1,1.7,3.1,2.7,4.4c0,0,0,0,0,0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0.1,0,0.1 c0.9,1.4,2.4,3.3,3.2,4.2l2.5-0.8c0.3-0.1,0.7-0.2,1-0.2c1.2,0,1.9,0.7,2.1,1l4.2,4.1c0.9,1,0.9,2,0.7,2.5c-0.3,1-2.1,2.5-3.5,3.6 c-1,0.8-1.9,1-2.5,1c-0.5,0-0.8-0.1-1-0.2c-4.1-1.4-8.2-5.1-12.1-10.9c-0.1-0.2-0.2-0.3-0.2-0.3c0,0,0,0,0-0.1c0,0-0.1-0.1-0.2-0.2 c-4-5.7-6-11.1-5.9-15.4C0,12.4,0.1,10.9,2,9.8z M7.7,26.9c0.1,0.1,0.1,0.2,0.2,0.2c0.1,0.1,0.1,0.2,0.3,0.4 c4.6,6.8,8.6,9.2,11.1,10.1c0.1,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0.2,0,0.6-0.1,1.2-0.5c1.3-0.9,2.6-2.1,2.8-2.5 c0,0,0,0,0,0c0,0,0-0.1-0.2-0.3l-4.2-4.1c0,0-0.1-0.1-0.1-0.1c0,0-0.3-0.3-0.8-0.1l-3.2,1.1c-0.4,0.1-0.9,0-1.2-0.3 c-0.1-0.1-2.5-2.9-3.8-5c0,0,0,0,0,0c0,0,0,0,0,0c-1.5-2-3.2-5.3-3.3-5.4c-0.2-0.4-0.2-0.9,0.1-1.2l2.2-2.6c0.4-0.4,0.2-0.8,0.2-0.8 c0,0-0.1-0.1-0.1-0.1l-2.3-5.4C6.6,10,6.5,10,6.5,10c0,0,0,0,0,0c-0.4,0-1.9,0.8-3.3,1.7c-0.8,0.5-1,1-1,1.1c0,0.1,0,0,0,0.1 C2,16.7,4,21.7,7.7,26.9z M26.6,28.2c0.6-0.2,1.2,0,1.4,0.6l1.6,3.9c0.2,0.6,0,1.2-0.6,1.4c-0.1,0.1-0.3,0.1-0.4,0.1 c-0.4,0-0.8-0.3-1-0.7L26,29.6C25.8,29,26.1,28.4,26.6,28.2z M27.2,7.4c-0.1,0-0.3,0-0.4-0.1c-0.6-0.2-0.8-0.9-0.6-1.4l1.6-3.8 c0.2-0.6,0.9-0.8,1.4-0.6c0.6,0.2,0.8,0.9,0.6,1.4l-1.6,3.8C28,7.2,27.6,7.4,27.2,7.4z M33.3,5.3c0.4-0.4,1.1-0.4,1.5,0 c0.4,0.4,0.4,1.1,0,1.5l-2.9,2.9c-0.2,0.2-0.5,0.3-0.8,0.3s-0.6-0.1-0.8-0.3c-0.4-0.4-0.4-1.1,0-1.5L33.3,5.3z M31.9,25.7l2.9,2.9 c0.4,0.4,0.4,1.1,0,1.5c-0.2,0.2-0.5,0.3-0.8,0.3c-0.3,0-0.6-0.1-0.8-0.3l-2.9-2.9c-0.4-0.4-0.4-1.1,0-1.5 C30.8,25.3,31.5,25.3,31.9,25.7z M32.8,22.1c0.2-0.6,0.9-0.8,1.4-0.6l3.8,1.6c0.6,0.2,0.8,0.9,0.6,1.4c-0.2,0.4-0.6,0.7-1,0.7 c-0.1,0-0.3,0-0.4-0.1l-3.8-1.6C32.8,23.3,32.5,22.7,32.8,22.1z M38.1,12.5l-3.9,1.6c-0.1,0.1-0.3,0.1-0.4,0.1c-0.4,0-0.8-0.3-1-0.7 c-0.2-0.6,0-1.2,0.6-1.4l3.9-1.6c0.6-0.2,1.2,0,1.4,0.6C38.9,11.7,38.7,12.3,38.1,12.5z M13.7,10.1c-0.3,0-0.6-0.1-0.8-0.3L9.9,6.8 c-0.4-0.4-0.4-1.1,0-1.5c0.4-0.4,1.1-0.4,1.5,0l2.9,2.9c0.4,0.4,0.4,1.1,0,1.5C14.2,10,13.9,10.1,13.7,10.1z M15.8,1.4 c0.6-0.2,1.2,0,1.4,0.6l1.6,3.9c0.2,0.6,0,1.2-0.6,1.4c-0.1,0.1-0.3,0.1-0.4,0.1c-0.4,0-0.8-0.3-1-0.7l-1.6-3.9 C14.9,2.3,15.2,1.7,15.8,1.4z M15.8,22.1c0-1.6,1-3,2-4.1l1-1c0.5-0.5,0.6-0.9,0.6-1.6c0-0.5-0.2-1-0.8-1c-0.7,0-0.8,0.9-0.8,1.4 v0.5h-2.1v-0.5c0-1.9,1-3,3-3c1.7,0,2.8,0.9,2.8,2.7c0,1.2-0.4,1.9-1.2,2.8l-0.8,0.8c-0.3,0.3-1.2,1.2-1.3,1.7h3.4v1.7h-5.8V22.1z M21.3,5.4V1.2c0-0.6,0.5-1.1,1.1-1.1c0.6,0,1.1,0.5,1.1,1.1v4.2c0,0.6-0.5,1.1-1.1,1.1C21.8,6.5,21.3,6,21.3,5.4z M25.6,22.4v-1.9 h-3.2v-1.8l3-5.8h2.3v6h0.9v1.6h-0.9v1.9H25.6z M25.6,15.8L25.6,15.8L24,18.9h1.6V15.8z M33.7,17.7c0-0.6,0.5-1.1,1.1-1.1h4.2 c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1h-4.2C34.1,18.8,33.7,18.3,33.7,17.7z'/%3E %3C/svg%3E");
    }
    .marketing .marketing-content .marketing-content-short-text .marketing-content-short-text-paragraph {
      margin-top: 20px;
      margin-bottom: 10px;
      padding-right: 20px;
      font-size: 14px;
      line-height: 16px;
      color: #626e71;
    }

    .marketing .marketing-content .marketing-content-long-text {
      margin-top: 40px;
      padding-left: 40px;
    }
      .marketing .marketing-content .marketing-content-long-text .marketing-content-long-text-paragraph {
        font-size: 15px;
        line-height: 16px;
        margin-top: 15px;
        color: #626e71;
      }
        .marketing .marketing-content .marketing-content-long-text .marketing-content-long-text-paragraph:first-child {
          margin-top: 0;
        }





  .marketing .marketing-sidebar {
    flex-basis: 480px;
    overflow-x: hidden; 
    margin: 0 0 50px;
    padding: 0 0 100px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
  }

    .marketing .marketing-sidebar .marketing-sidebar-title {
      margin: 20px 0;
      padding: 0 25px;
      font-size: 20px;
      font-family: Intro-Regular;
      color: #626e71;
    }
    .marketing .marketing-sidebar .marketing-sidebar-img {
      display: block;
      margin: 0 auto 30px;
    }
    .marketing .marketing-sidebar .marketing-sidebar-paragraph {
      margin-top: 15px;
      padding: 0 25px;
      font-size: 15px;
    }










