

.logo {
  display: flex;
  text-decoration: none;
  height: 78px;
  justify-content: center;
  align-items: center;
}
	
	/* LOGO */
	.logo-wrap {
	    position: relative;
	    display: inline-block;
	    width: 40px;
	    height: 40px;
	}
	.logo-wrap .logo-b {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve' fill='%23e70000'%3E %3Cg id='XMLID_19_'%3E %3Cg id='XMLID_101_'%3E %3Cpath id='XMLID_102_' class='st0' d='M22.1,25.2c-1.7,1.1-3.7,1.7-5.9,1.7C10.1,26.9,5.1,22,5.1,16s5-10.9,11.1-10.9 c3.9,0,7.4,2,9.3,5.1l3.7-3.6C26.2,2.6,21.5,0,16.2,0C7.2,0,0,7.2,0,16c0,8.8,7.2,15.9,16.2,15.9c3.6,0,6.9-1.2,9.6-3.1L22.1,25.2 z'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
	  opacity: 0.8;
	}
	.logo-wrap .logo-m {
	  position: absolute;
	  width: 60%;
	  height: 60%;
	  top: 20.5%;
	  left: 20.5%;
	  background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-4 -2 32 32' style='enable-background:new -4 -2 32 32;' xml:space='preserve' fill='%23e70000'%3E %3Cg id='XMLID_19_'%3E %3Cg id='XMLID_104_'%3E %3Cpath id='XMLID_105_' class='st0' d='M19.7,17.9c-1.3,2.4-3.8,4.7-7.7,4.7c-5.9-0.1-9-4.8-9-8.8c0-5.1,3.7-8.8,9-8.8 c2.8,0,6,1.7,7.7,4.4l5.5-3.9C22.8,1.2,17.2-2,12-2C3.1-2-4,5.1-4,13.8s7.1,15.7,16,15.7c6,0,10.6-2.6,13.6-7.6L19.7,17.9z'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
	  -webkit-transform:rotate(90deg);
	  -ms-transform:rotate(90deg);
	  transform:rotate(90deg);
	  opacity: 0.8;
	}
	.logo-wrap .logo-point {
	  position: absolute;
	  top: 38%;
	  left: 38%;
	  width: 25%;
	  height: 25%;
	  background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve' fill='%23e70000'%3E %3Cpath class='st0 svg_circle' d='M20,10c0,5.5-4.5,10-10,10C4.5,20,0,15.5,0,10C0,4.5,4.5,0,10,0c4.3,0,7.9,2.7,9.3,6.4C19.8,7.5,20,8.7,20,10z'/%3E %3C/svg%3E");
	  opacity: 0.8;
	}






  .logo-text {
  	margin: 5px 0 0 10px;
  	padding: 0;
  }
  	.logo-text .logo-text-word {
  		font-size: 27px;
  		font-family: Intro-Light;
    	color: #e70000;
  	}
  	.logo-text .logo-text-word.logo-text-word-bold {
  		margin-right: 4px;
  		font-family: Intro-Bold;
  	} 



/* FOOTER LOGO */
.footer .logo {
	margin-top: -36px;
}
.footer .logo-text {
	margin: 5px 0 0 3px;
}
.footer .logo-text .logo-text-word {
	font-size: 12px;
}


/* // FOOTER LOGO */




/* // LOGO */