
.header {
  border-bottom: 1px solid #e5e5e5;
}


  .header .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

  }

    .header .header-logo {

    }

    .header .header-nav {
      display: flex;
      height: 78px;

    }
      .header .header-nav .header-nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 186px;
        border-left: 1px solid #e5e5e5;
        text-decoration: none;
        
      }
        .header .header-nav .header-nav-link:last-child {
          border-right: 1px solid #e5e5e5;

        }
        .header .header-nav .header-nav-link .header-nav-text {
          margin: 0;
          padding: 0;
          font-size: 14px;
          font-family: Intro-Regular;
          color: #000000;

        }