.carousel {
  margin: 0;
  padding: 60px 0 50px; 
  border-top: 1px solid #e5e5e5;
}
	.carousel .wrapper {
		width: 940px;
		padding-left: 30px;
    	display: flex;
    	align-items: flex-start;
    	overflow: hidden;
	}
	


	.carousel .slick-slider {
		width: 100%;
		/*padding: 0 40px;*/
	}
		.carousel .slick-slider .slick-track {
			width: 100%;
		}
		.carousel .slick-slider .slick-slide {
			/*width: 200px;*/
			/*background: #ccc;*/
			/*border: 1px solid #999;*/
		}

		.carousel .slick-slider .slick-arrow {
			width: 16px;
			height: 16px;
			background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 40 40' style='enable-background:new 0 0 40 40;' xml:space='preserve' fill='%2351595c'%3E %3Cg id='XMLID_2_'%3E %3Cg id='XMLID_24_'%3E %3Cpath id='XMLID_26_' class='st0' d='M31.4,17.8c-0.2-0.2-0.3-0.3-0.5-0.4L14.1,0.5c0,0-2.9-1.1-4,0c-1.1,1.1-1.1,2.9,0,4 l15.3,15.3L10.1,35.1c-1.1,1.1-1.1,2.9,0,4c1.1,1.1,2.9,1.1,4,0l16.8-16.9c0.2-0.1,0.3-0.2,0.5-0.4c0.6-0.6,0.8-1.3,0.8-2.1 C32.3,19.1,32,18.3,31.4,17.8z'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
			z-index: 0;
			opacity: 0.8;
		}
			.carousel .slick-slider .slick-arrow:before {
				display: none;
			}
			.carousel .slick-slider .slick-arrow.slick-prev {
				transform: rotate(180deg);
				left: -33px;
			}
			.carousel .slick-slider .slick-arrow.slick-next {
				right: 0;
			}


		