
.footer {
  height: 95px;
  padding-top: 80px;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
}


  .footer .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

  }

    .footer .footer-logo {

    }


    .footer .footer-copyrights {
      margin-top: 1px;
    }
      .footer .footer-copyrights .footer-copyrights-text {
        font-size: 12px;
      }



    .footer .footer-separator {
      position: relative;
    }
      .footer .footer-separator .footer-separator-circle {
        width: 10px;
        height: 10px;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23e70000'%3E%3Cpath class='st0 svg_circle' d='M20 10c0 5.5-4.5 10-10 10S0 15.5 0 10 4.5 0 10 0c4.3 0 7.9 2.7 9.3 6.4.5 1.1.7 2.3.7 3.6z'/%3E%3C/svg%3E");
        z-index: 1;
      }
      .footer .footer-separator .footer-separator-line {
        position: absolute;
        width: 1px;
        height: 300px;
        top: 5px;
        left: 5px;
        background-color: #e5e5e5;
        z-index: -1;
      }



    .footer .footer-nav {
      display: flex;
      flex-direction: column;  

    }
      .footer .footer-nav .footer-nav-link {
        position: relative;
        display: flex;
        margin-bottom: 8px;
        /*align-items: center;*/
        /*justify-content: center;*/
        /*width: 186px;*/
        /*border-left: 1px solid #e5e5e5;*/
        font-size: 14px;
        text-decoration: none;
        
      }
        .footer .footer-nav .footer-nav-link::before {
          content: '';
          position: absolute;
          top: 4px;
          left: -16px;
          width: 4px;
          height: 4px;
          border-radius: 2px;
          background-color: #000000;
        }
        .footer .footer-nav .footer-nav-link:last-child {
          /*border-right: 1px solid #e5e5e5;*/

        }
        .footer .footer-nav .footer-nav-link .footer-nav-text {
          margin: 0;
          padding: 0;
          font-size: 14px;
          color: #000000;

        }


    .footer .footer-social {
      display: flex;
      margin-top: -10px;
    }
      .footer .footer-social .footer-social-link {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 15px;
      }
        .footer .footer-social .footer-social-link:last-child {
          margin-right: 0;
        }
        .footer .footer-social .footer-social-link.footer-social-link--twitter {
          background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 40 40' style='enable-background:new 0 0 40 40;' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0{fill-rule:evenodd;clip-rule:evenodd;fill:%2330A4DD;} .st1{fill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;} .st2{fill:none;} %3C/style%3E %3Cg id='XMLID_2_'%3E %3Cg id='XMLID_76_'%3E %3Cellipse id='XMLID_77_' class='st0' cx='20' cy='19.7' rx='20' ry='19.7'/%3E %3C/g%3E %3C/g%3E %3Cg id='Layer_2'%3E %3Cg id='XMLID_52_'%3E %3Cg id='XMLID_73_'%3E %3Cpath id='XMLID_74_' class='st1' d='M30,14.1c-0.7,0.3-1.5,0.5-2.4,0.6c0.8-0.5,1.5-1.3,1.8-2.2c-0.8,0.5-1.7,0.8-2.6,1 c-0.7-0.8-1.8-1.2-3-1.2c-2.3,0-4.1,1.8-4.1,3.9c0,0.3,0,0.6,0.1,0.9c-3.4-0.2-6.4-1.7-8.4-4.1c-0.4,0.6-0.6,1.3-0.6,2 c0,1.4,0.7,2.6,1.8,3.3c-0.7,0-1.3-0.2-1.9-0.5c0,0,0,0,0,0c0,1.9,1.4,3.5,3.3,3.9c-0.3,0.1-0.7,0.1-1.1,0.1 c-0.3,0-0.5,0-0.8-0.1c0.5,1.6,2,2.7,3.8,2.7c-1.4,1.1-3.2,1.7-5.1,1.7c-0.3,0-0.7,0-1-0.1c1.8,1.1,4,1.8,6.3,1.8 c7.5,0,11.6-6,11.6-11.2c0-0.2,0-0.3,0-0.5C28.7,15.6,29.4,14.9,30,14.1z'/%3E %3C/g%3E %3C/g%3E %3Cg id='Layer_3'%3E %3Cg id='XMLID_60_'%3E %3Cellipse id='XMLID_62_' class='st2' cx='20' cy='19.7' rx='20' ry='19.7'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
        }
        .footer .footer-social .footer-social-link.footer-social-link--facebook {
          background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 40 40' style='enable-background:new 0 0 40 40;' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0{fill-rule:evenodd;clip-rule:evenodd;fill:%233A5A9A;} .st1{fill:%23FFFFFF;} %3C/style%3E %3Cg id='XMLID_5_'%3E %3Cg id='XMLID_63_'%3E %3Cellipse id='XMLID_65_' class='st0' cx='20' cy='19.7' rx='20' ry='19.7'/%3E %3C/g%3E %3C/g%3E %3Cg id='Layer_2'%3E %3Cg id='Layer_3'%3E %3C/g%3E %3Cpath id='XMLID_4_' class='st1' d='M18,29.4V21h-2.6v-3.5H18c0,0,0-1.4,0-3c0-2.3,1.5-4.5,5.1-4.5c1.4,0,2.5,0.1,2.5,0.1l-0.1,3.3 c0,0-1.1,0-2.3,0c-1.3,0-1.5,0.6-1.5,1.5c0,0.8,0-1.6,0,2.6h3.9L25.4,21h-3.7v8.4H18z'/%3E %3C/g%3E %3C/svg%3E");

        }









