.rangeslider-wrapper {
  display: flex;
}
	.rangeslider-wrapper .wrapper {
		width: 980px;
  	display: flex;
  	align-items: flex-start;
  	overflow: hidden;
	}

  .rangeslider-wrapper .rc-slider {
  }

  .rangeslider-wrapper .rc-slider .rc-slider-step,
  .rangeslider-wrapper .rc-slider .rc-slider-mark {
    display: none;
  }


  .rangeslider-wrapper .rc-slider .rc-slider-handle {
    width: 14px;
    height: 14px;
    border: 3px solid #e70000;
    background-color: #ffffff;
  }

  .rangeslider-wrapper .rc-slider .rc-slider-track {
    background-color: #e70000;
  }
  .rangeslider-wrapper .rc-slider .rc-slider-rail {
    background-color: #7a7e7f;
  }



  .rangeslider-item {
    width: 50%;
    margin: 0 30px 0 0;
    display: flex;
    flex-direction: column;
  }
    .rangeslider-item .rangeslider-item-title {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 20px;
      font-family: Intro-Bold;
      color: #e70000;
    }
    .rangeslider-item .rangeslider-item-value {
      margin-top: 10px;
      color: #626e71;
      font-size: 35px;
      font-family: Intro-Light;
      white-space: nowrap;
    }

    .rangeslider-item .rc-slider {
      width: 100%;
    }

  .rangeslider-button-wrapper {
    /*display: none;*/
    width: 0px;
    visibility: hidden;
  }
    .rangeslider-button-wrapper.visible {
      /*display: block;*/
      width: 140px;
      visibility: visible;
      opacity: 1;
      transition: width .1s ease-out, visibility 2s ease-out;
    }

    .rangeslider-button-wrapper button {
      display: block;
      width: 100%;
      height: 40px;
      margin-top: 50px;
      padding: 0;
      border: none;
      border-radius: 4px;
      font-size: 18px;
      font-family: Intro-Light;
      line-height: 40px;
      text-align: center;
      background: #00bdce;
      color: #fff;
      outline: none;
    }
    .rangeslider-button-wrapper.visible button {
      width: 100%;
      opacity: 1;
      transition: width .5s ease-out, opacity 2s ease-out;
      /*transition-delay: 2.2s;*/
    }

