/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/





/* COMPARA */





/* FONTS */
/* FONTS */
/* light */
@font-face {
  font-family: 'Intro-Light';
  src: url('fonts/Fontfabric-Intro-Light.eot');
  src: local('☺'), url('fonts/Fontfabric-Intro-Light.woff') format('woff'), url('fonts/Fontfabric-Intro-Light.ttf') format('truetype'), url('fonts/Fontfabric-Intro-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* regular */
@font-face {
  font-family: 'Intro-Regular';
  src: url('fonts/Fontfabric-Intro-Regular.eot');
  src: local('☺'), url('fonts/Fontfabric-Intro-Regular.woff') format('woff'), url('fonts/Fontfabric-Intro-Regular.ttf') format('truetype'), url('fonts/Fontfabric-Intro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* bold */
@font-face {
  font-family: 'Intro-Bold';
  src: url('fonts/Fontfabric-Intro-Bold.eot');
  src: local('☺'), url('fonts/Fontfabric-Intro-Bold.woff') format('woff'), url('fonts/Fontfabric-Intro-Bold.ttf') format('truetype'), url('fonts/Fontfabric-Intro-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* // FONTS */




body {
  font-family: Intro-Light;
}

body, h1, h2, h3, h4, h5, h6, p, span, img, br, div, a, ul, li, hr {
  margin: 0;
  padding: 0;
  color: #000000;
}


.wrapper {
  width: 980px;
  margin: 0 auto;
}




.advantages-wrapper {
  visibility: visible;
  opacity: 1;
  height: 100%;
  overflow: hidden;
}
  .advantages-wrapper.hide {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: visibility .5s ease-out, opacity .5s ease-out, height .5s ease-out;
  }


.marketing-wrapper {
  visibility: visible;
  opacity: 1;
  height: 100%;
  overflow: hidden;
}
  .marketing-wrapper.hide {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: visibility .5s ease-out, opacity .5s ease-out, height .5s ease-out;
  }


.form-home-wrapper-bg {
  position: absolute;
  visibility: visible;
  width: 100%;
  height: 400px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  background: linear-gradient(0deg,#fff 0,hsla(0,0%,100%,0));
  transition:  visibility 1s ease-out, opacity 1s ease-out;
  transition-delay: 1.2s;
}
  .form-home-wrapper-bg.hide {
    visibility: hidden;
    opacity: 0;
  }








.result-table {
  position: relative;
  display: block;
  width: 100%;
  /*padding: 40px 0 40px;*/
  margin-bottom: 50px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 10;
}
  .result-table.hide {
    display: none;
  } 


  .result-table .result-table-title {
    padding: 60px 0 0 40px;
    font-size: 30px;
    font-family: Intro-Light;
    font-weight: 400;
    color: #626e71;
  }


    .result-table .ReactTable {
      margin-top: 40px;
      border: none;
    }

      .result-table .ReactTable .rt-thead.-header {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
        .result-table .ReactTable .rt-thead .rt-tr {
            text-align: left;
            align-items: baseline;
          }
          .result-table .ReactTable .rt-thead .rt-th {
            border: none;
            font-size: 12px;
            font-family: Intro-Regular;
            color: #626e71;
            white-space: normal;
          }

      .result-table .ReactTable .rt-tbody .rt-tr-group {
        padding: 10px 0;
        border: none;
      }

        .result-table .ReactTable .rt-tbody .rt-expandable {
          /*visibility: hidden;*/
        }


        .result-table .ReactTable .table-last-column {
          visibility: hidden;
        }

        .result-table .ReactTable .rt-tbody .rt-tr {
          padding-top: 5px;
          align-items: center;
        }

        .result-table .ReactTable .rt-tbody .rt-td {
          border: none;
        }
          .result-table .ReactTable .rt-tbody .rt-td .btn {
            background: #00bdce;
            border: none;
            color: #fff;
            height: 36px;
            line-height: 36px;
            margin: 0;
            padding: 0 20px;
            font-size: 13px;
            font-family: Intro-Regular;
            border-radius: 4px;
            text-decoration: none;
            outline: none;
          }
          .result-table .ReactTable .rt-tbody .rt-td:nth-child(2) {
            font-size: 16px;
            font-family: Intro-Regular;
            color: #626e71;
          }
          .result-table .ReactTable .rt-tbody .rt-td:nth-child(3) {
            /*width: 160px !important;*/
            font-size: 12px;
            font-family: Intro-Regular;
            color: #626e71;
          }
          .result-table .ReactTable .rt-tbody .rt-td:nth-child(4) {
            font-size: 20px;
            font-family: Intro-Regular;
            color: #626e71;
          }
          .result-table .ReactTable .rt-tbody .rt-td:nth-child(5) {
            font-size: 20px;
            font-family: Intro-Light;
            color: #626e71;
          }
          .result-table .ReactTable .rt-tbody .rt-td:nth-child(6) {
            font-size: 20px;
            font-family: Intro-Light;
            color: #626e71;
          }
          .result-table .ReactTable .rt-tbody .rt-td:nth-child(7) {
            font-size: 20px;
            font-family: Intro-Regular;
            color: #00bdce;
          }
          .result-table .ReactTable .rt-tbody .rt-td:nth-child(8) {
            font-size: 12px;
            font-family: Intro-Regular;
            color: #626e71;
          }


          .result-table .result-table-extended {
            display: flex;
            margin-top: 20px;
            padding: 80px 20px 80px 80px;
            border-bottom: 1px solid #d5dfe1;
            background: #f0f4f5;
          }
            .result-table .result-table-extended .result-table-extended-content {

            }

            .result-table .result-table-extended .result-table-extended-sidebar {
              flex-basis: 40%;
              border-left: 1px solid #c0c3c4;
            }


            .result-table-extended-title {
              font-size: 18px;
              font-family: Intro-Light;
              font-weight: 200;
            }
            .result-table-extended-list {
              margin-top: 40px;
              margin-left: 40px;
              padding-right: 80px;
              list-style: none;
            }
              .result-table-extended-list li {
                position: relative;
                display: flex;
                align-items: baseline;
                margin-bottom: 20px;
                padding-left: 0; 
                /*text-indent: -20px;*/
              }
                .result-table-extended-list li::before {
                  position: absolute;
                  display: block;
                  content: "•";
                  top: -3px;
                  left: -16px;
                  color: #e70000;
                  font-size: 24px;
                }
            .result-table-extended-btn {
              position: relative;
              display: block;
              width: 160px;
              /*margin: 150px 0 10px;*/
              margin-left: 50px;
              padding: 0 10px;
              background: #e70000;
              color: #fff;
              font-size: 13px;
              font-family: Intro-Regular;
              text-decoration: none;
              text-align: center;
              line-height: 40px;
              border-radius: 4px;
              border: none;
            }



/*

*/



















/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}







